<!DOCTYPE html>
<html lang="de-DE" prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Reddit Stonks</title>
    <meta name="description" >
    
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css" media="all" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    




<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="row">
    <h1>Reddit Stonks</h1></a>
    
  </div>


      <div class="row">
        
        <p>A visual analysis of Reddit's recent impact on the stock market</p>
        
      </div>
      <h2>A recent Reddit Post: {{ reddit_data.title }}</h2>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Choose A Subreddit</h5>
          <select id="selSub" onchange="updatePlotly(this.value)">
            <option value='wallstreetbets'>r/WallStreetBets</option>
            <option value='stocks'>r/Stocks</option>
            <option value='investing'>r/Investing</option>
            <option value='StockMarket'>r/StockMarket</option>
            <option value='RobinHood'>r/RobinHood</option>
          </select>
          
        </div>

    <div id="chart">

		</div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Choose A Stock</h5>
          <select id="stock" onchange="updateStock(this.value)">
            <option value='GME'>GME</option>
            <option value='TSLA'>TSLA</option>
            <option value='AMC'>AMC</option>
            <option value='RIOT'>RIOT</option>
            <option value='AMD'>AMD</option>
          </select>
          
        </div>

    <div id="graph"></div>
    <div id="mixed-chart"></div>
  </body>
  


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="/static/js/script.js" defer></script>
 <script src="https://d3js.org/d3.v5.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
 <script type="text/javascript" src="/static/js/app.js"></script>
 <script src="{{ url_for('static', filename='js/app.js') }}"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>
</html>
